<section id="bettini-header">
  <div class="container">
    <div class="row">
      <div class-"col-lg-10 col-lg-offset-2">
        <h1 class="text-center">VXRs - Paolo Bettini Edition</h1>
      </div>
    </div>
  </div>
</section>
<section id="bettini-main">
  <div class="container">
    <div class="row">
      <div class-"col-lg-11 col-lg-offset-1">
        <%= image_tag 'Bettini-frame.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</section>
<section id="bettini-description">
<div class="container">
  <div class="row">
    <div class="col-lg-3 col-lg-offset-2">
      <%= image_tag 'bettini-signature.png', class: 'img-responsive' %>
      <h1 class="text-center">001 - 300</h1>
      <p style="padding:0 30px;">Only 300 VXRs - Bettini Special Editions will be made worldwide, all numbered with Paolo's signature and the world champion stripes.</p>
    </div>
    <div class="col-lg-4 col-lg-offset-1">
      <p>This is the same frame that carried Paolo Bettini to Olympic Gold in 2004. And also the same frame Tom Boonen rode to numerous victories in 2005 including the World Road Race Championships,  the Tour of Flanders and Paris-Roubaix.</p>

      <p>Even by today's standards, the VXRs is still highly regarded,  possessing the most desired qualities in a frame: lightness, stiffness and comfort. These qualities exist in every modern frame but TIME finds the perfect balance between all three, delivering the quintessential ride.</p>

      <p>Each frame bears the World Champion stripes commemorating Bettini's 2006 and 2007 World Road Race Championships victories, Bettini's signature and is numbered 1 to 300.</p>

      <p>Like all TIME frames, the VXRs is 100% made in France.</p>
    </div>
  </div>
</div>

</section>
  <section id="bettini-dealers">
  <div class="container">
    <div class="row">
      <p class="lead">The VXRs - Paolo Bettini Edition will be exclusively available at these TIME dealers mid-February 2015. Quantities are extremely limited. Please contact one of these dealers for availability.</p>
      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>CONTENDER BICYCLES</strong><br />
          989 East 900 South<br />
          Salt Lake City, UT  84105<br />
          <a href="http://contenderbicycles.com/">contenderbicycles.com</a><br />
          801.364.0344
        </p>
       </div>
       <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>VELO PASADENA</strong><br />
          2562 East Colorado Boulevard<br />
          Pasadena, CA  91107<br />
          <a href="http://www.velopasadena.com/">www.velopasadena.com</a><br />
          626.304.0064
        </p>
      </div>

      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>LEUCADIA CYCLERY</strong><br />
          823 North Vulcan Avenue<br />
          Leucadia, CA  92024<br />
          <a href="http://www.leucadiabikes.com/">www.leucadiabikes.com</a><br />
          760.436.2786
        </p>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-6 dealer-list">
        <p>
          <strong>R &amp; A CYCLES</strong><br />
          105 5th Avenue<br />
          Brooklyn, NY 11217<br />
          <a href="http://www.racycles.com">www.racycles.com</a><br />
          718.473.0285
        </p>
      </div>

    </div>
  </div>
</section>

<section id="l2-geometry" style="background-color:rgba(155,155,155,.1);padding:40px 0;">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <%= image_tag 'TIME-2015-geometry.png', class: 'img-responsive center-it' %>
      </div>
      <div class="col-lg-7">
        <h3>Paolo Bettini Edition VXRs Geometry</h3>
        <%= render 'shared/vxrs_geo_grid' %>
      </div>
    </div>
  </div>
</section>