<section id="design-top">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= image_tag '30ans-logo.png', class: 'img-responsive', style: 'width:400px;' %>
      <p class="text-center">The Challenge | Le Défi</p>
      <p class="text-center"><a href="#design-body" class="scroll-btn"><span class="fa fa-chevron-circle-down fa-2x"></span></p>
    </div>
  </div>
</div>
</section>

<section id="design-image">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
  <%= image_tag 'Skylon-concour-01-2-web.jpg', class: 'img-responsive' %>
</div>
</div>
</div>
</section>
<section id="design-body">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <%= image_tag '30ans-le-defi.png', class: 'img-responsive' %>
        <!-- <h3 class="text-center">< The challenge by Roland CATTIN ></h3> -->
      </div>
      <div class="col-md-6 col-md-offset-3">
        <%= raw @page.content_for(:body) %>
        <!-- <p>TIME will celebrate its 30th anniversary in December 2016 – 30 years of accepting and meeting the challenge! The challenge of creating the best cycling products in the world.
        </p>
        <p>We would like to give you the opportunity to be a part of this celebration.</p>

        <p>Your challenge is to create a graphic/paint design for a SKYLON frame. The winning design will be included in our 2016/2017 collection as a limited edition and will be debuted at Eurobike 2016.</p>

        <p>The frame will be called “The challenge by Roland CATTIN”. A visionary and courageous man, Roland CATTIN, TIME Sport’s founder, believed in and defended these values throughout his life: “Made in France”, “quality”, “passion”, “elegance”, “innovation”. Roland CATTIN passed away in October 2014 and we would like to pay tribute to his work. Your design must speak to the values and qualities of the TIME brand. It must also answer the question “What makes TIME so special?”</p>

        <p>We call upon your creativity and talent to submit a design before the end of January 2016.</p>

        <p>The person with the winning design will be invited to go on guided tour of our factory in France, accompanied by Jean Marc Guengnaud, our lead composite engineer. You will also receive a limited edition frame with your design.</p>

        <h2 class="text-center">GET STARTED!</h2>
        <p>Download the frame image templates below and start designing your masterpiece. The winning design will best express Roland CATTIN's vision and passion for TIME.</p>

        <p>When you are finished you can submit your design using this <a href="/design_submissions/new">form</a>. We will accept .PNG or .JPG files only.</p>

        <h3>Bon Chance!</h3><br />

        <small>Right click and select 'Download link file...'</small>
        <a href='/assets/Skylon-concour-01-2.jpg', class="btn btn-lg btn-block btn-danger">Download Frame Design Template 1</a>
        <a href='/assets/Skylon-concour-02-2.jpg', class="btn btn-lg btn-block btn-danger">Download Frame Design Template 2</a><br />
        <a href="/design_submissions/new", class="btn btn-lg btn-block btn-warning">Upload Your Design</a> -->





      </div>
    </div>
  </div>

</section>