<section id="ef-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">BIKE IMAGE</div>
      <div class="col-md-5">
        <h1>EDITION FRANCAISE</h1>

      </div>
    </div>
  </div>

</section>
<section id="ef-images"></section>
<section id="ef-text"></section>
<section id="ef-models"></section>