<%#= render '/refinery/content_page' %>
<section id="sec1">
  <h1>Section one</h1>
  <%= raw @page.content_for(:home_section) %>

</section>

<section id="sec2">
  <h1>Section two</h1>

</section>

<section id="sec3">
  <h1>Section three</h1>

</section>
