<section id="forty-off">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
        <h1 class="text-center">Get $40 off</h1>
        <h3 class="text-center">XPRESSO 10 or ATAC XC 8 pedals</h3>
        <p class="lead text-center">Just bring in your old pedals to the participating dealers below.<br />Any brand, any make, any model.</p>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12" class="trade-up-pedals">
        <div class="trade-up-text">
          <h1>XPRESSO 10</h1>
          <p>Built for riders seeking light weight and pro performance. At 95 grams per pedal, the Xpresso 10 is easily lighter than most top line pedals. With a large 700mm<sup>2</sup> platform, angular and lateral float, it easily one of the most comfortable. The low stack height also makes every turn of the pedals more efficient, getting your power as close to the center of the axle as possible. IClic's pre-opened system makes it one of the easiest pedals to clip into.</p>


          <table class="table table-striped">
            <tr>
              <td>WEIGHT:</td>
              <td>95 GRAMS (per pedal)</td>
            </tr>
            <tr>
              <td>AXLE:</td>
              <td>HOLLOW STEEL</td>
            </tr>
            <tr>
              <td>BODY:</td>
              <td>CARBON</td>
            </tr>
            <tr>
              <td>CLEATS:</td>
              <td>IClic</td>
            </tr>

          </table>

        </div>
        <%= image_tag 'pedal-trade-up-xpresso-big.png', class: 'img-responsive' %>

      </div>

    </div>
  </div>

</section>


<section>
<div class="container">
<div class="row">
  <div class="col-xs-2 col-xs-offset-5 col-md-2 col-md-offset-5"><%= image_tag 'or.png', class: 'img-responsive' %></div>
</div>
</div>
</section>


<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12" class="display:relative;">
        <div class="trade-up-text">
          <h1>ATAC XC 8</h1>
          <p>The ATAC XC 8 is the pedal preferred by competitive cyclocross, mountain bike riders and gravel road riders. It features the lightness of a carbon body and the durability of a chromed, hollow oversized steel axle. The exclusive ATAC system (TIME patent) offers very easy engagement and its open design automatically clears debris each time you step in. The ATAC XC 8 is also a great choice for trail riding or bike touring.</p>


          <table class="table table-striped">
            <tr>
              <td>WEIGHT:</td>
              <td>143 GRAMS (per pedal)</td>
            </tr>
            <tr>
              <td>AXLE:</td>
              <td>HOLLOW STEEL</td>
            </tr>
            <tr>
              <td>BODY:</td>
              <td>CARBON</td>
            </tr>
            <tr>
              <td>CLEATS:</td>
              <td>ATAC (13ยบ or 17ยบ float)</td>
            </tr>

          </table>

        </div>
        <%= image_tag 'pedal-trade-up-atac-big.png', class: 'img-responsive' %>

      </div>

    </div>
  </div>

</section>

<section id="trade-up-dealers">
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="border-bottom:1px solid red;">
        <h1 class="text-center">PARTICIPATING DEALERS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-md-4 p-dealers">
        PARTICIPATING DEALER<br>
        2222 Main St.<br>
        Anytown, AT 55555<br>
        www.participating-dealer.com<br>
        555-555-5555
      </div>
      <div class="col-xs-6 col-md-4 p-dealers">
        PARTICIPATING DEALER<br>
        2222 Main St.<br>
        Anytown, AT 55555<br>
        www.participating-dealer.com<br>
        555-555-5555
      </div>
      <div class="col-xs-6 col-md-4 p-dealers">
        PARTICIPATING DEALER<br>
        2222 Main St.<br>
        Anytown, AT 55555<br>
        www.participating-dealer.com<br>
        555-555-5555
      </div>
      <div class="col-xs-6 col-md-4 p-dealers">
        PARTICIPATING DEALER<br>
        2222 Main St.<br>
        Anytown, AT 55555<br>
        www.participating-dealer.com<br>
        555-555-5555
      </div>
      <div class="col-xs-6 col-md-4 p-dealers">
        PARTICIPATING DEALER<br>
        2222 Main St.<br>
        Anytown, AT 55555<br>
        www.participating-dealer.com<br>
        555-555-5555
      </div>
      <div class="col-xs-6 col-md-4 p-dealers">
        PARTICIPATING DEALER<br>
        2222 Main St.<br>
        Anytown, AT 55555<br>
        www.participating-dealer.com<br>
        555-555-5555
      </div>
      <div class="col-xs-6 col-md-4 p-dealers">
        PARTICIPATING DEALER<br>
        2222 Main St.<br>
        Anytown, AT 55555<br>
        www.participating-dealer.com<br>
        555-555-5555
      </div>
      <div class="col-xs-6 col-md-4 p-dealers">
        PARTICIPATING DEALER<br>
        2222 Main St.<br>
        Anytown, AT 55555<br>
        www.participating-dealer.com<br>
        555-555-5555
      </div>
    </div>
  </div>

</section>

<!-- <section id="xpresso-10-upgrade">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-md-4" >
        <div>
          <%#= image_tag 'pedal-trade-up-red-bg.png', class: 'img-responsive' %>
        </div>
      </div>
      <div class="col-md-4" id="pedal-trade-up-xpresso-10">
        <%#= image_tag 'pedal-trade-up-xpresso.png', class: 'img-responsive', title: 'Xpresso 10 road pedal', alt: 'Xpresso 10 road pedal' %>
      </div>
      <div class="col-md-4" id="pedal-trade-up-atac-xc-8">
        <%#= image_tag 'pedal-trade-up-atac.png', class: 'img-responsive', title: 'ATAC XC 8 mtb pedal', alt: 'ATAC XC 8 mtb pedal' %>
      </div>

    </div>

  </div>
</section> -->
