<section id="pedal-tech-intro">
  <div class="container">
    <div class="row">
      <%= raw @page.content_for(:pedal_tech_intro) %>
    </div>
  </div>
</section>

<section id="pedal-tech-road">
  <div class="container">
    <%= raw @page.content_for(:pedal_tech_road) %>
    </div>
  </div>
</section>

<section id="pedal-tech-atac">
  <div class="container">
    <%= raw @page.content_for(:pedal_tech_atac) %>
  </div>
</section>

<section id="time-pedals">
  <div class="container">
    <div class="row">
      <%= raw @page.content_for(:time_pedals) %>
    </div>
  </div>
</section>