<section id="time-built-different">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TIME /BUILT DIFFERENT</h1>
        <!-- MAYBE use FLEX Box here -->
      </div>
    </div>
  </div>
</section>



<section id="from-the-thread">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>From the thread....</h1>
          <!-- TRYPTIC Flex box -->
      </div>
    </div>
  </div>
</section>



<section id="braided-carbon">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Braided Carbon</h1>
        <p class="text-lead">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
      </div>
    </div>
  </div>
</section>




<section id="braid-selection">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Solid Inner Molds</h1>
      </div>
    </div>
  </div>
</section>




<section id="solid-inner-molds">
  <div class="container">
    <div class="row">
      <div class=""></div></div></div>
</section>




<section id "nude-carbon-gallery"></section>



<section id="resin-transfer-molding"></section>



<section id="carbon-matrix-technology"></section>



<section id="cmt-pressure-heat"></section>




<section id="carbon-matrix-drop-out"></section>




<section id="finishing-sanding"></section>




<section id="frame-painting"></section>




<section id="finished-frame"></section>