<section id="time-built-different">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>TIME /BUILT DIFFERENT</h1>
        <!-- MAYBE use FLEX Box here -->
      </div>
    </div>
  </div>
</section>



<section id="from-the-thread">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
      </div>
    </div>
  </div>
</section>



<section id="braided-carbon"></section>




<section id="braid-selection"></section>




<section id="solid-inner-molds"></section>




<section id "nude-carbon-gallery"></section>



<section id="resin-transfer-molding"></section>



<section id="carbon-matrix-technology"></section>



<section id="cmt-pressure-heat"></section>




<section id="carbon-matrix-drop-out"></section>




<section id="finishing-sanding"></section>




<section id="frame-painting"></section>




<section id="finished-frame"></section>