<section id="rtm-intro">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4 col-md-4">
        <%= raw @page.content_for(:rtm_intro) %>
      </div>
    </div>
  </div>
</section>

<section id="rtm-made-in-france">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <%= raw @page.content_for(:rtm_made_in_france) %>
      </div>
    </div>
  </div>
</section>

<section id="rtm-weaving">
  <div class="container">
    <div class="row">
      <%= raw @page.content_for(:rtm_weaving) %>
    </div>
  </div>
</section>


<section id="rtm-resin-injection">
  <div class="container">
    <div class="row">
      <%= raw @page.content_for(:rtm_injection) %>
    </div>
  </div>
</section>

<section id="rtm-finish" class="hidden-xs">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
  </div>
</section>

