<section id="instagram">
  <div class="container-fluid">
    <div class="row">
      <% @instatime.each do |pic| %>
      <div class="col-md-2 col-xs-3 instagram-image">
        <%= link_to (image_tag pic.images.standard_resolution.url, class: 'img-responsive', style: 'width:100%;'), pic.link %>
        <!-- standard_resolution -->
      </div>
      <% end %>
    </div>
  </div>
</section>