<section id="instagram">
  <div class="container-fluid">
    <div class="row">
      <%# if @instatime %>
      <% @instatime.each do |pic| %>
      <div class="col-lg-1 col-md-2 col-sm-2 col-xs-4 instagram-image">
        <%= link_to (image_tag pic.images.standard_resolution.url, class: 'img-responsive', style: 'width:100%;'), pic.link %>
        <!-- standard_resolution -->
      </div>
      <% end %>
      <%# end %>
    </div>
  </div>
</section>