<section id="bikes-frames" class="time-text white">
  <div class="container-fluid">

   <h1></h1>
    <div class="row">
      <div class="col-md-4">
        <h2><%#= @skylon_bike_type %></h2>
        <div class="row">
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @skylon_aktiv.each do |c| %>
              <%#= image_tag c.image.url, class: 'img-responsive' %>
              <%#= link_to c.name, bikes_bike_path(@skylon_path) %>
          <%# end %>
          </div>
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @skylon.each do |s| %>
              <%#= image_tag s.image.url, class: 'img-responsive' %>
              <%#= link_to s.name, bikes_bike_path(@skylon_path) %>
            <%# end %>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <h2><%#= @izon_bike_type %></h2>
         <div class="row">
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @izon_aktiv.each do |c| %>
              <%#= image_tag c.image.url, class: 'img-responsive' %>
              <%#= link_to c.name, bikes_bike_path(@izon_path) %>
          <%# end %>
          </div>
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @izon.each do |s| %>
              <%#= image_tag s.image.url, class: 'img-responsive' %>
              <%#= link_to s.name, bikes_bike_path(@izon_path) %>
            <%# end %>
          </div>
        </div>
      </div>
 
    <div class="col-md-4">
        <h2><%#= @fluidity_bike_type %></h2>
         <div class="row">
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @fluidity_aktiv.each do |c| %>
              <%#= image_tag c.image.url, class: 'img-responsive' %>
              <%#= link_to c.name, bikes_bike_path(@fluidity_path) %>
          <%# end %>
          </div>
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# @fluidity.each do |s| %>
              <%#= image_tag s.image.url, class: 'img-responsive' %>
              <%#= link_to s.name, bikes_bike_path(@fluidity_path) %>
            <%# end %>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <h2><%#= @specialty_bike_type %></h2>
         <div class="row">
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# unless @specialty_1.nil? %>
              <%# @specialty_1.each do |c| %>
                <%#= image_tag c.image.url, class: 'img-responsive' %>
                <%#= link_to c.name, bikes_bike_path(@specialty_1_path) %>
              <%# end %>
            <%# end %>
          </div>
          <div class="col-md-12 col-xs-6 bikes-frames-bikes">
            <%# unless @specialty_2.nil? %>
              <%# @specialty_2.each do |s| %>
                <%#= image_tag s.image.url, class: 'img-responsive' %>
                <%#= link_to s.name, bikes_bike_path(@specialty_2_path) %>
              <%# end %>
            <%# end %>
          </div>
        </div>
      </div> 

    </div>
  </div>
</section>