<!-- <h1 id='logo'>
  <%#= link_to Refinery::Core.site_name, refinery.root_path %>
</h1> -->
<%#= Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self).to_html %>
<nav class="navbar navbar-default" role="navigation" style="z-index:1;border:1px solid red;width:100%;">
  <div class="container" style="padding:0 10px;">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag 'time-logo.png' %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <% presenter = Refinery::Pages::MenuPresenter.new(refinery_menu_pages, self) %>
      <% presenter.max_depth = 1 %>
      <%= presenter.to_html %>
    </div>
  </div>
</nav>