$time-red: #d2232a;
$time-plasma: #e2fe00;
$light-sans-serif:"Helvetica Neue", Helvetica, Arial, sans-serif;
$black-light:rgba(0,0,0,.1);
$black-med:rgba(0,0,0,.7);
$black-black:rgba(0,0,0,1);
$white-alpha10:rgba(255,255,255,1);
$white-alpha7:rgba(255,255,255,.7);
$white-alpha3:rgba(255,255,255,.3);

$carousel-indicator-border-color:$black-light;
$carousel-indicator-active-bg:$black-light;
$carousel-caption-color:$black-black;


//Grid
$grid-gutter-width:0px;
$grid-float-breakpoint:992px;
//$grid-float-breakpoint-max:992px;

//Fonts
$navbar-default-bg:rgba(255,255,255,.9);
$navbar-default-link-color:$time-red;
$border-radius-base:0;
$navbar-default-link-active-bg:#efefef;
$navbar-default-link-active-color:#cdcdcd;
$link-color:$time-red;

@mixin text-style($font-size, $font-weight, $font-color) {
  font-family:$light-sans-serif;
  font-weight:$font-weight;
  font-size:$font-size;
  color:$font-color;
}

@mixin background-style($bg-size, $bg-pos-x, $bg-pos-y, $bg-repeat) {
  background-size:$bg-size;
  background-position-x:$bg-pos-x;
  background-position-y:$bg-pos-y;
  background-repeat:$bg-repeat;
}

@mixin home-bike-feature($position, $z-index, $top, $right, $bottom, $left) {
  position:$position;
  z-index:$z-index;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
}

@mixin header-style($font-size, $font-weight, $font-color) {
  font-family:$light-sans-serif;
  font-weight:$font-weight;
  font-size:$font-size;
  color:$font-color;
}

@mixin bike-hero-style($left-margin, $size) {
  margin-left:$left-margin;
  height:$size;
  width:$size;
}

@mixin rotate($angle) {
  -moz-transform: rotate($angle);
  -o-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  -ms-transform: rotate($angle);
}

// body {background-color:$time-red;}
// .row {background-color:#fff;}
// section, header {background-color:#fff;}


h1 {@include text-style(48px, 100, $time-red);}
h2 {@include text-style(32px, 100, $time-red);}
h3 {@include text-style(24px, 100, $time-red);}
h4 {@include text-style(18px, 200, $time-red);}
h5 {@include text-style(14px, 300, $time-red);}

p.lead {@include text-style(16px, 100, $black-light);}
p {@include text-style(14px, 200, $black-med);}


//NAV
.navbar.navbar-default {margin-bottom:0;}

.navbar-brand {
  img {
    margin-top:-6px;
  }
}

//CAROUSEL
.carousel-caption {
  color:#cdcdcd;
  font-size:16px;
  text-shadow:none;
}

.carousel-control.left, .carousel-control.right  {
  background-image:none !important;
  color:$time-red;
  top:20%;
}

//FOOTER
* {
   margin: 0;
 }
 html, body {
   height: 100%;
   //border-top:5px solid darken($time-red, 20%);
 }

 p {letter-spacing: .25;}

 .page-wrap {
   min-height: 100%;
   /* equal to footer height */
   margin-bottom: -350px; 
 }
 .page-wrap:after {
   content: "";
   display: block;
 }
 .site-footer, .page-wrap:after {
   /* .push must be the same height as footer */
   height: 350px; 
 }
 .site-footer {
   background: $time-red;
   padding:40px 20px;
   color:#fff;
   ul, li {
     margin:0;
     padding:0;
     list-style:none;
   }
   a {
     color:rgba(255,255,255,.6);
     &:hover {
       color:rgba(255,255,255,1);
     }
   }
   small {
     display:block;
     margin-top:20px;
     color:rgba(255,255,255,.3);
   }
   h4 {@include text-style(24px, 100, #fff);}
   span {
     margin:0 3px;
   }
   h5 {
    @include text-style(24px, 100, #fff);
   }
 }


@mixin gradient-bg($start-color, $end-color, $gradient-point) {
  background: $start-color; /* Old browsers */
  background: -moz-linear-gradient(top,  $start-color 0%, $start-color $gradient-point, $end-color $gradient-point, $end-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop($gradient-point,$start-color), color-stop($gradient-point,$end-color), color-stop(100%,$end-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $start-color 0%,$start-color $gradient-point,$end-color $gradient-point,$end-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $start-color 0%,$start-color $gradient-point,$end-color $gradient-point,$end-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $start-color 0%,$start-color $gradient-point,$end-color $gradient-point,$end-color 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $start-color 0%,$start-color $gradient-point,$end-color $gradient-point,$end-color 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 ); /* IE6-9 */
}
