$time-red: #d2232a;
$time-plasma: #e2fe00;
$light-sans-serif:"Helvetica Neue", Helvetica, Arial, sans-serif;
$black-light:rgba(0,0,0,.1);
$black-med:rgba(0,0,0,.6);
$black-black:rgba(0,0,0,1);
$white-alpha10:rgba(255,255,255,1);
$white-alpha7:rgba(255,255,255,.7);
$white-alpha3:rgba(255,255,255,.3);

$carousel-indicator-border-color:$black-light;
$carousel-indicator-active-bg:$black-light;
$carousel-caption-color:$black-black;


//Grid
$grid-gutter-width:0px;
$grid-float-breakpoint:992px;
//$grid-float-breakpoint-max:992px;

//Fonts
$navbar-default-bg:rgba(255,255,255,.9);
$navbar-default-link-color:$time-red;
$border-radius-base:0;
$navbar-default-link-active-bg:#efefef;
$navbar-default-link-active-color:#cdcdcd;
$link-color:$time-red;

s, del {text-decoration:line-through;}

//Flags
//USAGE <img src="blank.gif" class="flag flag-cz" alt="Czech Republic" />
//- See more at: https://www.flag-sprites.com/#sthash.csnqp5rS.dpuf

.flag {
  width: 32px;
  height: 32px;
  background:url(flags.png) no-repeat
}

.flag.flag-de {background-position: -32px 0}
.flag.flag-es {background-position: -64px 0}
.flag.flag-fr {background-position: 0 -32px}
.flag.flag-jp {background-position: -32px -32px}
.flag.flag-en {background-position: -64px -32px}


@mixin text-style($font-size, $font-weight, $font-color) {
  font-family:$light-sans-serif;
  font-weight:$font-weight;
  font-size:$font-size;
  color:$font-color;
}

@mixin background-style($bg-size, $bg-pos-x, $bg-pos-y, $bg-repeat) {
  background-size:$bg-size;
  background-position-x:$bg-pos-x;
  background-position-y:$bg-pos-y;
  background-repeat:$bg-repeat;
}

@mixin home-bike-feature($position, $z-index, $top, $right, $bottom, $left) {
  position:$position;
  z-index:$z-index;
  top:$top;
  right:$right;
  bottom:$bottom;
  left:$left;
}

@mixin header-style($font-size, $font-weight, $font-color) {
  font-family:$light-sans-serif;
  font-weight:$font-weight;
  font-size:$font-size;
  color:$font-color;
}

@mixin bike-hero-style($left-margin, $size) {
  margin-left:$left-margin;
  height:$size;
  width:$size;
}

@mixin rotate($angle) {
  -moz-transform: rotate($angle);
  -o-transform: rotate($angle);
  -webkit-transform: rotate($angle);
  -ms-transform: rotate($angle);
}




h1 {@include text-style(48px, 100, $time-red);}
h2 {@include text-style(32px, 100, $time-red);}
h3 {@include text-style(24px, 200, $time-red);}
h4 {@include text-style(18px, 200, $time-red);}
h5 {@include text-style(14px, 300, $time-red);}

p.lead {@include text-style(16px, 300, $black-light);}
p {@include text-style(14px, 300, $black-med);}


//NAV
.navbar.navbar-default {margin-bottom:0;}

.navbar-brand {
  img {
    margin-top:-6px;
  }
}

//CAROUSEL
.carousel-caption {
  color:#cdcdcd;
  font-size:16px;
  text-shadow:none;
}

.carousel-control.left, .carousel-control.right  {
  background-image:none !important;
  color:$time-red;
  top:20%;
}

.carousel-inner {
  -webkit-transform-style: preserve-3d;
}

//FOOTER
* {
   margin: 0;
 }
 html, body {
   height: 100%;
   //border-top:5px solid darken($time-red, 20%);
 }

 p {letter-spacing: .25;}

 .page-wrap {
   min-height: 100%;
   /* equal to footer height */
   margin-bottom: -350px; 
 }
 .page-wrap:after {
   content: "";
   display: block;
 }
 .site-footer, .page-wrap:after {
   /* .push must be the same height as footer */
   height: 350px; 
 }
 .site-footer {
   background: $time-red;
   padding:40px 20px;
   color:#fff;
   ul, li {
     margin:0;
     padding:0;
     list-style:none;
   }
   a {
     color:rgba(255,255,255,.6);
     &:hover {
       color:rgba(255,255,255,1);
     }
   }
   small {
     display:block;
     margin-top:20px;
     color:rgba(255,255,255,.3);
   }
   h4 {@include text-style(24px, 100, #fff);}
   span {
     margin:0 3px;
   }
   h5 {
    @include text-style(24px, 100, #fff);
   }
 }


@mixin gradient-bg($start-color, $end-color, $gradient-point) {
  background: $start-color; /* Old browsers */
  background: -moz-linear-gradient(top,  $start-color 0%, $start-color $gradient-point, $end-color $gradient-point, $end-color 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$start-color), color-stop($gradient-point,$start-color), color-stop($gradient-point,$end-color), color-stop(100%,$end-color)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $start-color 0%,$start-color $gradient-point,$end-color $gradient-point,$end-color 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $start-color 0%,$start-color $gradient-point,$end-color $gradient-point,$end-color 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $start-color 0%,$start-color $gradient-point,$end-color $gradient-point,$end-color 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $start-color 0%,$start-color $gradient-point,$end-color $gradient-point,$end-color 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$start-color', endColorstr='$end-color',GradientType=0 ); /* IE6-9 */
}


@function timeText($fillColor) {
  @return url('data:image/svg+xml,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1600 139" enable-background="new 0 0 1600 139" xml:space="preserve"><defs><rect id="SVGID_1_" x="12.4" y="7.1" width="1574.6" height="125"/></defs><clipPath id="SVGID_2_"><use xlink:href="#SVGID_1_"  overflow="visible"/></clipPath><path clip-path="url(#SVGID_2_)" fill="' + $fillColor + '" d="M1015.6,7.2L828.2,56.8L812.5,7.3l-145.5,0L467.4,132l11.7,0l126.3-0.1l131.7-82.2l15.6,54.6h52.4c0.9-0.3,127.3-35.7,176-49.4L858,132l5.2,0l0.1,0l5.4,0l105.7,0l0.1-0.1l5.9,0.1L1182.3,7L1015.6,7.2zM414.7,33.2L456,7.3l-353,0L40.6,33.2l129.7,0L12.4,132l140,0l157.8-98.8L414.7,33.2z M487.7,7.3L288.2,132H322l107.2,0L628.8,7.2L487.7,7.3z M1519,33.2l68-25.9l-362.5,0L1024.9,132l359.2,0l65.9-25h-262.7l38.4-24.1l126,0l67.2-25.7l-152.1,0l38.4-24L1519,33.2z"/></svg>');
}

#bike-frames {
  background-repeat:no-repeat;
  background-size:100% 100%;
  background-position-y:100%;
  &.white {
    background-image:timeText(#ffffff);
  }
}

h1 {font-size:48px;font-weight:100;}




