@import 'base.css.scss';

section {
  // height:600px;
  padding:0px 0px;
}


//HOME
#home-top {
  min-height: 80vh;
  h1 {@include text-style(24px, 100, $time-red);text-align:center;}
  h2 {@include text-style(14px, 400, $time-red);text-transform:uppercase;}
  a {
    &:hover {text-decoration:none;}
    h2 {
     color:$black-med;
    }
    img {border:1px solid $black-light;}
  }
  h3 {@include text-style(14px, 200, $time-red);}
  .tri-nav {padding:0 5px;}
  @include background-style(130%, 50%, 100%, no-repeat);
  #top-made-in-france {
    img {margin:0 auto 12px auto;}
  }
}


//HOME - MADE IN FRANCE
#home-made-in-france {
  min-height:80vh;
  width:100%;
  position:relative;
  color:#fff;
  //background-image:url(made-in-france-p3.jpg);
  @include background-style(cover, 50%, -190px, no-repeat);
  .row {
    background-color:rgba(0,0,0,1);
    padding:20px 20px 20px 20px;
    position:absolute;
    bottom:0;
    p {@include text-style(18px, 200, $white-alpha7);padding-top:10px;}
    img {margin:10px auto 10px auto;}
    h1 {@include text-style(24px, 200, $time-red);text-align:center;text-transform:uppercase;}
    h3 {@include text-style(18px, 200, $time-red);text-align:center;}
  }
}


//HOME - BIKE FEATURES
#home-features {
  padding-top:40px;
  min-height:60vh;
  h1 {@include text-style(30px, 100, $time-red);text-align:center;}
  h3 {@include text-style(18px, 200, $time-red);text-align:center;}
  #home-bike-bg img {@include home-bike-feature(absolute, -1, 200px, 0px, nil, nil)};
  #home-bike-logo img {margin:0 auto;}
  #collection-link {postion:absolute;bottom:0;}
  .carousel-indicators {position:absolute;top:-10px;margin-bottom:20px;}
}

#bikes-frames {

  padding:80px 20px;
  background-color:lighten($black-light, 65%);
  // background-image:url(TIME-txt.svg);
  // background-repeat:no-repeat;
  h1 {@include text-style(30px, 100, $time-red);text-align:center;}
  h2 {@include text-style(24px, 100, $black-med);text-align:center;}
  h3 {@include text-style(14px, 400, $time-red);text-align:center;margin-bottom:50px;}
  
  .row {margin-bottom:20px;}
  .bikes-frames-bikes {
    text-align:center;
    padding-bottom:40px;
  }
}


// L2 Bikes

#l2-bike {
  padding:20px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:200px;
  background-color:#fafafa;
  min-height:100vh;
  text-align:center;
    #bike-main-txt {
    //@extend .l2-main-txt;
      border-top:2px solid $time-red;
      img {
        margin:0 auto;
      }
    }
   h3 {
     @include header-style(20px, 100, $black-med);
     display:inline-block;
     margin:0 .25em;
     @extend .l2-h3-xs;
   }
   .lead {
   @include text-style(16px, 200, $black-med);
     //@extend .l2-main-lead;
     text-align:left;
     padding:20px 0px;
     text-shadow:1px 1px 10px #fff;
   }
   #bike-img img {@include bike-hero-style(0px, 100%);}
 }

 #aktiv-choice {
  padding:40px 0px;
  h3 {
    @include text-style(40px, 100, $time-red);
    text-align:center;
  }
    .ac-desc {
      padding:20px 20px;
    }
 }

#groups {
  .group {
    padding:0px 10px!important;
    
  }
 }

