@import 'base.css.scss';

section {
  // height:600px;
  padding:0px 0px;
}

#locale {
  // padding:10px 15px;
  // background-color:rgba(150,150,150,.1);
  img {margin-left:5px;}
}


//HOME

#top-brand {
  padding:10px 10px;
  background-color:rgba(150,150,150,.1);

}

#home-top {
  min-height: 80vh;
  h1 {@include text-style(24px, 100, $time-red);text-align:center;}
  h2 {@include text-style(14px, 400, $time-red);text-transform:uppercase;}
  a {
    &:hover {text-decoration:none;}
    h2 {
     color:$black-med;
    }
    img {border:1px solid $black-light;}
  }
  h3 {@include text-style(14px, 200, $time-red);}
  .tri-nav {padding:0 5px;}
  @include background-style(100%, 50%, 100%, no-repeat);
  #top-made-in-france {
    img {margin:0 auto 12px auto;}
  }
}

#header-social {
  margin-top:12px;
  margin-left:30px;
  a {color:$black-light;}
}


//HOME - MADE IN FRANCE
#home-made-in-france {
  min-height:80vh;
  width:100%;
  position:relative;
  color:#fff;
  //background-image:url(made-in-france-p3.jpg);
  @include background-style(cover, 50%, -190px, no-repeat);
  .row {
    background-color:rgba(0,0,0,1);
    padding:20px 20px 20px 20px;
    position:absolute;
    bottom:0;
    p {@include text-style(18px, 200, $white-alpha7);padding-top:10px;}
    img {margin:10px auto 10px auto;}
    h1 {@include text-style(24px, 200, $time-red);text-align:center;text-transform:uppercase;}
    h3 {@include text-style(18px, 200, $time-red);text-align:center;}
  }
}

.navbar.navbar-default {
  border-top:1px solid transparent;
}


//HOME - BIKE FEATURES
#home-features {
  padding-top:40px;
  min-height:60vh;
  h1 {@include text-style(30px, 100, $time-red);text-align:center;}
  h3 {@include text-style(18px, 200, $time-red);text-align:center;}
  #home-bike-bg img {@include home-bike-feature(absolute, -1, 200px, 0px, nil, nil)};
  #home-bike-logo img {margin:0 auto;}
  #collection-link {postion:absolute;bottom:0;}
  .carousel-indicators {position:absolute;top:-10px;margin-bottom:20px;}
}

#bikes-frames {

  padding:80px 20px;
  // background-color:lighten($black-light, 65%);
  background-color:#fff;
  // background-image:url(TIME-txt.svg);
  // background-repeat:no-repeat;
  h1 {@include text-style(30px, 100, $time-red);text-align:center;}
  h2 {@include text-style(24px, 100, $black-med);text-align:center;}
  h3 {@include text-style(14px, 400, $time-red);text-align:center;margin-bottom:50px;}

  .row {margin-bottom:20px;}
  .bikes-frames-bikes {
    text-align:center;
    padding-bottom:40px;
  }
}


//HOME - AKTIV
#aktiv {
  padding:40px 20px 100px 20px;
  @include gradient-bg(#000, #fff, 100%);//$start-color, $end-color, $gradient-point
  #aktiv-txt {
    h3 {@include text-style(24px, 100, $time-red);}
    h4 {@include text-style(20px, 100, $time-red);}
    p {@include text-style(14px, 200, $white-alpha7);}
    img {margin:0 auto;}
  }
}


//HOME - PEDALS
#pedals {
  h1 {
    @include text-style(48px, 100, #fff);
    color:#fff;
    text-shadow:0 0 5px rgba(0,0,0,.8);}
  h3 {@include text-style(24px, 100, $time-red);}
  h4 {@include text-style(20px, 200, $time-red);}
  padding:80px 0;
  background-image:url(clouds.jpg);
  background-size:cover;
  background-position-y:20%;
  // background-color:rgba(235,235,235,.1);

}


// L2 Bikes

#l2-bike {
  padding:20px;
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:200px;
  background-color:#fafafa;
  min-height:100vh;
  text-align:center;
    #bike-main-txt {
    //@extend .l2-main-txt;
      border-top:2px solid $time-red;
      img {
        margin:0 auto;
      }
    }
   h3 {
     @include header-style(20px, 100, $black-med);
     display:inline-block;
     margin:0 .25em;
     @extend .l2-h3-xs;
   }
   .lead {
   @include text-style(16px, 200, $black-med);
     //@extend .l2-main-lead;
     text-align:left;
     padding:20px 0px;
     text-shadow:1px 1px 10px #fff;
   }
   #bike-img img {@include bike-hero-style(0px, 100%);}
 }

#pre-aktiv {
  padding:40px 20px 0px 20px;

  h3 {@include text-style(24px, 100, $white-alpha7);letter-spacing:.05em;}
  background-color:black;
}

 #bikes-aktiv {

  height:400px;
  background-color:black;
  position:relative;
  #aktiv-fork-circle {
    position:absolute;
    left:50%;
    margin-left:-250px;
    top:7%;
    width:500px;
    z-index:99;

  }
  // background-size:cover;
  // background-image:url(aktiv-work2.png);
  // background-repeat:no-repeat;
  // background-position-x:-125px;
  #bike-vibe-big {
    background-image:url(aktiv-ani.gif);
    min-height:400px; 
    background-size:100% 460px;
    background-repeat:no-repeat;
    background-position-y:50%;


  }
  #bike-vibe-small {
    background-image:url(aktiv-ani.gif);
    min-height:400px;
    background-size:100% 90px;
    background-repeat:no-repeat;
    background-position-y:51%;
  }
 }

 #aktiv-choice {
  padding:40px 0px;
  h3 {
    @include text-style(40px, 100, $time-red);
    text-align:center;
  }
    .ac-desc {
      padding:20px 20px;
    }
 }

#groups {
  .group {
    padding:0px 10px!important;
    font-size:11px;
    // th {border-top:1px solid transparent;border-left:1px solid transparent;border-right:1px solid transparent;
    //   border-left:1px solid transparent;background-color: rgba(240, 240, 240, 0.1);}
    
  }
 }

#bike-features {

  .row {
    background: -moz-linear-gradient(top,  rgba(225,225,225,.3) 0%, rgba(249,249,249,.2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(225,225,225,.3)), color-stop(100%,rgba(249,249,249,.2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(225,225,225,.3) 0%,rgba(249,249,249,.2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(225,225,225,.3) 0%,rgba(249,249,249,.2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(225,225,225,.3) 0%,rgba(249,249,249,.2) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(225,225,225,.3) 0%,rgba(249,249,249,.2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
  }

  .feature-img {
    border-bottom:1px solid rgba(0,0,0,.1);
  }
  .feature-text {
    padding:20px;
    h1 {@include text-style(40px, 100, $time-red);}
  }
}

#l2-bike-gallery {
  padding:80px 0px;
  h1 {@include text-style(40px, 100, $time-red);}
  .carousel-caption {
    color:rgba(0,0,0,0);text-shadow:none;
  }
}

#l2-geometry {
  padding:80px 0px;
  h3 {@include text-style(24px, 100, $time-red);padding-top:40px;}
  table {@include text-style(10px, 200, black);}
}

#groups {
  h1 {@include text-style(40px, 100, $time-red);}
  padding:80px 20px;
  background-color:rgba(240,240,240,.1);
}

#pedal-xpresso-hero {
  min-height:120vh;
 
   background-image:url(pedals-road-main.jpg);
   background-repeat:no-repeat;
   // height:auto;
   background-size:cover;
   background-position-x:50%;
   #pedal-main-txt {
     padding:20px 30px;
     background-color:rgba(0,0,0,.7);
     min-height:120vh;
   }
   h3 {
     @include text-style(20px, 100, #fff);
     line-height:.25em;
     padding:0;
   }
   p {
     @include text-style(16px, 200, rgba(255,255,255,.6));
     margin-top:1em;
   }
 }

.pedals-xpresso, #pedals-rxs, #pedals-atac-xc, #pedals-atac-mx, #pedals-atac-dh {
   h3 {@include text-style(16px, 200, $time-red);margin-top:0;}
   img {@include rotate(-45deg);}

   .atac-logo {@include rotate(0deg);}
   padding:40px 20px 20px 20px;
   small {display:block;height:5em;}
   letter-spacing:0em;
   @include text-style(14px, 200, rgba(0,0,0,.5));
   margin-bottom:2em;
   h1 {@include text-style(24px, 100, $time-red);}
   h2 {@include text-style(32px, 100, rgba(0,0,0,.7));}
   p {@include header-style(16px, 200, rgba(0,0,0,.7));}
}

#pedal-atac-hero {
  min-height:120vh;
   background-image:url(pedals-mtb-main.jpg);
   background-size:cover;
   #pedal-main-txt {
     padding:20px 30px;
     background-color:rgba(0,0,0,.7);
     min-height:120vh;
   }
   h3 {
     @include text-style(20px, 100, #fff);
     line-height:.25em;
     padding:0;
   }
   p {
     @include text-style(16px, 200, rgba(255,255,255,.6));
     margin-top:1em;
   }
 }


 //AKTIV PAGE
  #aktiv-header {
   background-color:#000;

 }

 #aktiv-hero {
   position:relative;
   background-color:#121212;
   background-image:url('AKTIV-bg-2.jpg');
   background-size:cover;
   min-height:860px;
   #hero-txt {
     //padding-left:100px;
     position:absolute;
  
     padding:20px;
     top:0%;
     p {@include header-style(16px, 200, rgba(255,255,255,.6))}
     img {
       margin:0 auto;
     }
     h3 {@include header-style(24px, 100, rgba(255,255,255,1))}
   }
 }

 #aktiv-biker {
  .row {background:rgba(255,255,255,.7);}
   min-height:100vh;
   padding:20px;
   padding-bottom:40px;
   background-image:url(AKTIV-2-white.jpg);
   background-position-x:-800px;
   background-size:cover;
     p {
       @include header-style(16px, 200, rgba(0,0,0,.6));
       padding:10px;
     }
     h3 {@include header-style(24px, 100, rgba(0,0,0,1));
      padding:10px;
     }
     h2 {
      @include header-style(30px, 100, $time-red);
      padding:10px;
     }
 }

 #aktiv-graph {
   padding:80px 20px;
   background-color:#000;
   p {
       @include header-style(24px, 100, rgba(255,255,255,.4));
       letter-spacing: 1px;
       span {color:rgba(255,255,255,.7);}
       margin-bottom:1em;
   }
   h3 {@include header-style(24px, 100, rgba(255,255,255,.7))}
 }

 #aktiv-models {
   padding:80px 20px;
   h1 {@include header-style(30px, 100, #000)}
   h3 {@include header-style(12px, 200, $time-red)}
 }

 //RTM PAGE
#rtm-intro {
   min-height:100vh;
   padding:80px 0px;
   background-image:url(rtm-bb-DSC_0194.jpg);
   background-size:cover;
   background-position-x:70%;
   background-position-y:0px;
   p {
       margin-top:20px;
       @include header-style(16px, 200, rgba(255,255,255,.8));
       background-color:rgba(0,0,0,.8);
       text-shadow:1px 1px 8px rgba(0,0,0,.5);
       padding:20px;
   }
   a {color:#fff;text-shadow:1px 1px 8px rgba(0,0,0,.2);}
 }

 #rtm-made-in-france {
  padding:20px 20px 60px 20px;
  background-color:rgba(0,0,0,.9);
  h2 {
    color:#fff;
  }
 }

 #rtm-weaving {
   padding:40px 20px;
   h3 {@include header-style(24px, 100, $time-red)}
   h4 {@include header-style(18px, 200, rgba(0,0,0,.8))}
   p {
       letter-spacing:0em;
       @include header-style(14px, 200, rgba(0,0,0,.5));
       margin-bottom:2em;
     }
 }

 #rtm-resin-injection {
   background-color:rgba(225,225,225,.1);
   padding:40px 20px;
   h3 {@include header-style(24px, 100, $time-red)}
     p {
       letter-spacing:0em;
       @include header-style(14px, 200, rgba(0,0,0,.5));
       margin-bottom:1em;
     }

 }

 #rtm-finish {
  height:350px;
  background-image:url('rtm-headtube.jpg');
  //background-image-position-x:-350px;
  background-size:cover;
 }


 //PEDAL TECH
 #pedal-tech-intro {
   padding:40px 20px ;
   background-color:#000;
   h1 {@include header-style(36px, 100, $time-red)}
   h2 {@include header-style(24px, 100, #fff)}
   p {
     letter-spacing:0em;
     @include header-style(14px, 200, rgba(255,255,255,.5));
     margin-bottom:1em;
   }
 }

 #pedal-tech-road, #pedal-tech-atac {
   padding:60px 20px;
   background-color:lighten(#000, 15%);
   h3 {@include header-style(24px, 100, #fff)}
   p {@include header-style(14px, 200, rgba(255,255,255,.5));}

 }

 #pedal-tech-atac {
   background-color:lighten(#000, 30%);
 }

  #time-pedals {
   padding:60px 20px;
    background-color:#fff;
   h3 {@include header-style(24px, 100, $time-red)}
   p {@include header-style(14px, 200, rgba(0,0,0,.5));}
  }


#accessories-top {
    height:436px;
    padding:0;
    background-image:url(accessories-graphite.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position-y:50%;
  }

  #accessories-intro {
    padding:20px;
    h1 {@include header-style(48px, 100, $time-red)}
    h3 {@include header-style(24px, 100, $time-red)}
  }

   #pedal-accessories-intro {
    padding:20px;
    h1 {@include header-style(48px, 100, $time-red)}
    h3 {@include header-style(24px, 100, $time-red)}
  }

  #handlebars {
    background-color:rgba(220,220,220,.1);
    padding:20px;
     h1 {@include header-style(48px, 100, $time-red)}
     h3 {@include header-style(24px, 100, $time-red)}
     //border:1px solid red;

    .accessory-title {
      color:#000;
    }
    .accessory-desc {
      color:#000;
    }

  }

  .accessory-title {
      border-right:0px solid black;
      border-bottom:2px solid $time-red;
  }
  .accessory-desc {
          border-left:0px solid $time-red;
        p {padding:20px 0px 20px 0px;}
  }

  #stems, #cleats {
    img {padding:30px;}
  }
  #stems {
    background-color:#000;
    padding:20px;
    h1 {@include header-style(48px, 100, #fff)}
    h2 {@include header-style(24px, 100, #fff)}
    .accessory-title {
      h2, h3 {color:#fff;}
    }
    .accessory-desc {
      p {color:rgba(255,255,255,.6);}
    }

  }

  #cleat-plates {
    h1 {@include header-style(48px, 100, $time-red)}
    padding:20px 20px 40px 20px;
  }

  //Distributors

#dist-grid {
  padding:80px 20px;
  .distributors {
    min-height:12em;
    color:rgba(0,0,0,.6);
    strong {
      text-transform: uppercase;
      font-weight:600;
    }
  }

}

#dist-top {
  height:300px;
  padding:0;
  background-image:url(contender_6.jpg);
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y:50%;
}

#dist-text {
  h1 {
    @include header-style(48px, 100, $time-red);
    margin-top:1em;
  }
  p {color:rgba(0,0,0,.6);} 


}




.page-wrap {
   min-height: 100%;
   /* equal to footer height */
   margin-bottom: -350px; 
 }

  .site-footer, .page-wrap:after {
   /* .push must be the same height as footer */
   height: 350px; 
 }


#bike-details {
  background-color:lighten($black-light, 80%);
  padding:10px 0;
  span {
    padding:10px;
    display:inline-block;
  }
  #electrical {border-right:1px solid rgba(0,0,0,.4);}
}
