<div class="col-xs-3 col-md-3 text-center tri-nav">
  <a href="#home-promo" class="scroll-btn">
    <h2 style="display:block;height:2em;">TIME Megève Mt. Blanc</h2>
  </a>
  <a href="#home-promo" class="scroll-btn">
    <img src="/assets/home-megeve.png" class="img-responsive img-circle" />
  </a>
</div>