<p>The present website is published by:<br />
TIME SPORT INTERNATIONAL <br />
Société par Actions Simplifiée Au capital de 6.680.675,30 € € <br />
Siège social : 2 avenue Blaise Pascal -  38090 Vaulx-Milieu (France) <br />
339 730 996 RCS Vienne
</p>
<p>Legal representative: Mr. Sylvain NOAILLY</p>

<p>Graphic design / Conception / Integration / Development:<br />
mostlyClicks, Inc.<br />
<a href="http://www.mostlyclicks.com">http://www.mostlyclicks.com</a><br />
</p>
<p>Hosting:<br />
Heroku<br />
<a href="http://www.heroku.com">http://www.heroku.com</a></p>


<p>PUBLISHER RESPONSIBILITY<br />
Despite all the care taken in implementation of this website www.time.fr and its regular updates, errors may appear in the information and/or documents. Users of the website must therefore make all necessary verifications.</p>

<p>TIME is not responsible for any hypertext links placed on this website or any other website owned by TIME in the direction of other resources present on the Internet.</p>

<p>INTELLECTUAL PROPERTY<br />
All content of this website (texts and photographs) is the sole and exclusive property of TIME or their authors. Any reproduction, representation or diffusion by any means whatsoever of all or part of this website and/or any other website owned TIME, is prohibited without the express consent of TIME or its author. The reproduction, representation or distribution without permission constitutes an infringement sanctioned by articles L.335-2 and following of the French Code of Intellectual Property. </p>

<p>PHOTO CREDITS:
mostlyClicks, Inc.
</p>





<p>Le présent site www.time.fr est édité par la société:<br />
TIME SPORT INTERNATIONAL <br />
Société par Actions Simplifiée<br />
 Au capital de 6.680.675,30 € € <br />
Siège social : 2 avenue Blaise Pascal -  38090 Vaulx-Milieu (France) <br />
339 730 996 RCS Vienne</p>

<p>Représentant Légal : M. Sylvain NOAILLY</p>

<p>Conception, graphisme, intégration, développement:<br />
mostlyClicks, Inc.<br />
<a href="http://www.mostlyclicks.com">http://www.mostlyclicks.com</a></p>
 
<p>Hébergement:<br />
Heroku<br />
<a href="http://www.heroku.com">http://www.heroku.com</a></p>
  
<p>RESPONSABILITE DE L’EDITEUR<br />
 Malgré tous les soins apportés à la mise en œuvre du présent site www.time.fr et à son actualisation régulière, des erreurs peuvent s'être glissées dans les informations et/ou documents présentés. Les utilisateurs du site procéderont donc à toutes vérifications utiles.</p> 

<p>Les liens hypertextes mis en place sur le présent site web ou sur tout autre site web appartenant à la société TIME, en direction d'autres ressources présentes sur le réseau Internet ne sauraient engager la responsabilité de la société TIME.</p>

<p>PROPRIETE INTELLECTUELLE<br />
 L'ensemble du contenu de ce site y compris les textes, photographies, dessins, images, séquences sonores est la propriété de TIME ou de tiers ayant autorisé TIME à les utiliser et relève de la législation française et internationale sur le droit d'auteur et la propriété intellectuelle.</p> 

<p>Tous les droits de reproduction sont réservés, y compris pour les documents téléchargeables et les représentations iconographiques et photographiques.</p>
 <p>Le nom TIME, les logos et les noms des produits sont des marques appartenant à TIME.</p>
 <p>Toute reproduction, utilisation, imitation, représentation partielle ou intégrale de ce site, des marques de TIME, des bases de données utilisées par le site, que ce soit sous forme papier ou électronique est interdite sans l'accord express de TIME. Toute utilisation des éléments du présent site à des fins différentes de celles énumérées ci-dessus pourra faire l'objet de poursuites judiciaires, en France comme à l'étranger.</p> 

<p>CREDITS PHOTOS:<br />
mostlyClicks, Inc.</p>
