<p>TIME SPORT INTERNATIONAL (hereinafter "TIME" or  "we" or "us") is committed to respecting your privacy and complying with applicable data protection and privacy laws. This Privacy Policy ("Policy") details how information about you is collected, used, and disclosed by TIME in connection with our products, promotions, and services. This includes any personal information that is collected when you access or use our websites or other online or mobile services or applications ("Services"), sign up to receive emails from us, shop in our stores, sign up for activities and events, or otherwise interact with us. In addition to this Policy, for certain special offers, areas of our website, or certain services and activities, we may supply different or additional personal information practices and terms specific to those programs.  
By using our site, signing up for email, using our other products or services, or otherwise providing information to us, you are expressing your consent and acceptance of the practices described in this Policy.</p>

<p><strong>SCOPE OF THIS PRIVACY POLICY</strong><br />
This Policy applies to personally identifiable personal information, or "personal information," that we collect when you sign up to receive email, shop in our stores, visit any of our websites (collectively, the "site"), or use or access our other products or services. It also applies to personal information we collect when you otherwise interact with us, such as when you make a payment, place an order, sign up for an activity, or contact customer service. This Policy also applies to personal information that we may receive from our partners and third-party sources.</p>

<p><strong>PERSONAL INFORMATION</strong><br />
Personal information under this Policy is personal information that we directly associate with a specific person such as the person's name, address, phone or fax number, email address, account information (e.g., member account, credit card information and online registration), online activities or other specific personal information. Because of the broad range of services and product offerings, we collect other very specific personal information. For instance, we may collect age or date and year of birth and the number of children in your family. Our definition of personal information does not include "aggregate" personal information. This is information that we collect about a group or category of services or people that does not contain any personal information or from which we or our agents remove any personal information.</p>

<p><strong>COLLECTION OF PERSONAL INFORMATION</strong><br />
We collect personal information about you in the normal course of our business when you shop on our site or when you use our services or otherwise interact with us. Various ways in which we may obtain personal information from you are described below.</p>

<p>Personal Information You Provide<br />
We collect personal information that varies with your purchases, interests, and activities and what you chose to provide to us. We collect personal information when you sign up for, purchase, or use our products or services, when you sign up to receive email, or when you email, call or otherwise communicate with us. You may submit personal information with a job application or in your resume that you provide as part of an employment application process. We also collect personal information when you call or email our customer service representatives, or when you contact us about a product or service you have previously purchased. In some cases, the personal information we ask you to provide will be mandatory for purposes of participating in a particular activity or service. If you do not provide this personal information, your participation may be limited or prohibited.</p>

<p>Personal Information Collected Automatically<br />
Whenever you use our services we receive certain types of personal information automatically. For example, when your web browser accesses our site, we obtain certain types of personal information, such as your IP address, country of origin, the type of browser you use, and the page you visited before visiting our site.</p>

<p><strong>PERSONAL INFORMATION FROM THIRD PARTIES</strong><br />
We may receive personal information about you from third parties. For example, we may receive creditworthiness or other financial personal information when you fill out a job application. We may also purchase certain personal information from others to better inform you about our products, services, and offers that we think will interest you. This Policy applies to personal information we obtain from third parties as well as to any personal information that we add to or combine with personal information otherwise covered by this Policy.</p>

<p><strong>USE OF PERSONAL INFORMATION</strong><br />
 TIME uses personal information for the purposes described in this Policy and/or any additional service specific privacy information. Please note that one or more purposes may apply simultaneously and that the examples below are not intended to be a definitive list of every lawful use we might make of personal information, but are only general descriptions and for illustration.</p>

<p><strong>PROVISION OF PRODUCTS AND SERVICES</strong><br />
We may use your personal data to fulfill your requests, process your order or as otherwise may be necessary to perform or enforce the contract between you and TIME, to ensure the functionality and security of our products and services, to identify you and to prevent and investigate fraud and other misuses.</p>

<p><strong>DEVELOPMENT OF PRODUCTS AND SERVICES</strong><br />
We may use your personal data to develop our products and/or services. However, for the most part we only use aggregate and statistical information in the development of our products and services. We may also use your personal data to personalize our offering and to provide you with service more relevant to you, for example, to make recommendations and to display customized content and advertising in our websites. We may combine personal data collected in connection with your use of a particular TIME product and/or service with other personal data we may hold about you, except where such personal data was collected for a different purpose. We may create aggregate and statistical information based on your personal data.</p>

<p><strong>COMMUNICATIONS AND MARKETING</strong><br />
We may use your personal data to communicate with you, for example, to provide information relating to our products and/or services you are using or to contact you for customer satisfaction queries. We may use your personal data for marketing or research purposes, for example, to conduct market research and we may, in accordance with applicable law, contact you to inform you of new products, services or promotions we may offer. Also, some of our products and services may be used to promote products and services of other companies. However, TIME does not disclose your personal data to such companies or any other company for marketing purposes without your prior consent.</p>

<p><strong>DISCLOSURE OF PERSONAL INFORMATION</strong><br />
We do to not sell, lease, rent or otherwise disclose personal information to third parties unless otherwise stated below.</p>

<p><strong>CONSENT</strong><br />
We disclose personal information about you to third parties with your consent. We may obtain consent from you in several ways, such as in a form or agreement; online, through "click-through" agreements or registration pages; verbally, through interactive voice response; or when your consent is part of the terms and conditions through which we provide you a particular product or service. Your consent is sometimes implicit. For example, if you purchase a product from a store or through our site and ask that it be shipped to your home or other address, you implicitly consent to our disclosure of your name and address to a third-party shipping company to complete delivery, of your credit card number to the credit card processor to authorize the transaction, and to the bank to collect payment.</p>

<p><strong>PRODUCT OR SERVICE FULFILLMENT</strong><br />
We may disclose personal information to third parties who complete transactions or perform services on our behalf, transactions on your behalf, or transfers related to providing products or services to you. For example, we may contract with third parties to host a site, collect and provide products reviews, or send our emails. Through contracts with these third parties, we restrict the manner in which they may use and disclose personal information about you without your consent.</p>

<p><strong>CORPORATE BUSINESS TRANSACTIONS</strong><br />
Personal information may be disclosed as part of a corporate business transaction, such as a merger or acquisition, joint venture, corporate reorganization, financing or sale of company assets. It may also be disclosed in the event of insolvency, bankruptcy or receivership in which personal information could be transferred to third parties as one of the business assets in the transaction.</p>

<p><strong>LEGAL PROCESS; PROTECTION OF TIME AND OTHERS</strong><br />
We may disclose personal information to comply with the law (e.g., a lawful subpoena); to enforce or apply any contracts or agreements; to initiate, render, bill, and collect for products or services; to protect our rights or property; in connection with claims, disputes, or litigation; to protect ourselves, our members, and other customers from the harmful acts of others (e.g., theft, fraud, or abuse); or if we determine disclosure of personal information is necessary in an emergency.</p>

<p><strong>MINORS</strong><br />
You may provide or we may ask for personal information about children. We do not, however, want to collect personal information from children. Do not provide us any personal information (directly or on site bulletin boards, etc.) unless you are at least 13 years of age. We encourage parents to caution their children not to provide any personal information. If a child under 13 has provided personal information, a parent or guardian may so inform us by writing us at the address noted below, and we will use commercially reasonable efforts to delete it from our database, subject to applicable law and this Policy.</p>

<p><strong>SECURITY</strong><br />
TIME takes reasonable technical and organizational information security measures to prevent and minimize such risks associated with providing personal data.</p>

<p>Such measures include, where appropriate, the use of firewalls, secure server facilities, encryption, implementing proper access rights management systems and processes, careful selection of processors and other technically and commercially reasonable measures to provide appropriate protection for your personal data against unauthorized use or disclosure. Where appropriate, we may also take back-up copies and use other such means to prevent accidental damage or destruction to your personal data. If a particular part of a TIME website supports on-line transactions, we, or our affiliates will use an industry standard security measure, such as the one available through Secure Sockets Layer (SSL), to protect the confidentiality and security of online transactions.</p>

<p>However security breaches and mistakes can and do happen and we do not guarantee the security of personal information. Except for financial transmissions, you should assume the site is not encrypted. Email communications and online chat are not encrypted, so do not include sensitive personal information in them. "Phishing," imposters, and fake websites are a fact of modern life.</p>

<p><strong>USE OF LOCATION DATA</strong><br />
When you are accessing this website on a mobile device, we may ask to determine your current location in order to provide you with the most accurate data. We do not share your location information with any third parties. If you are not comfortable with this, you may disable the use of location services in the application settings at any time.</p>

<p><strong>WHAT YOU CAN DO TO PROTECT PERSONAL INFORMATION</strong><br />
At any time, if you believe personal information about you within our control has been accessed by unauthorized persons, please contact us. An important part of ensuring the security of personal information is your own effort to protect it against unauthorized access or use.
</p>

<p><strong>ACCESS TO PERSONAL INFORMATION</strong><br />
We do not maintain all personal information in a form that can be accessed or updated by you and some items may not be changed (e.g., transaction records). Accordingly, we will determine what may be accessed and how; we may also keep a record of changes (including deletions) and disclose them for lawful purposes. We keep personal information for as long as we think is necessary or advisable and we reserve the right to retain it to the full extent not prohibited by law. We may discard personal information in our discretion so you should retain your own records. Often it is not feasible or advisable to discard personal information (such as commingled personal information), so we reserve the right to retain it but treat it as inactive or discarded. You may make a request for us to update personal information (that is eligible for updating) by contacting our Customer Service department via email, telephone, or mail.</p>

<p>
<a href="mailto:info@timesportusa.com?subject=Contact from TIME Sport / Privacy Policy">info@timesportusa.com </a><br /><br />
877-727-7661<br /><br />
TIME SPORT INTERNATIONAL<br />
 1413 Center Drive <br />
PO Box 981060<br />
 Park City, UT 84098
</p>

<p><strong>OPT-OUT CHOICES</strong><br />
We will attempt to process any opt-out request that you make in accordance with the instructions below in a commercially reasonable time. To opt-out of further marketing emails, use the method provided in the email (such as clicking on a link), or contacting us via email,
<a href="mailto:info@timesportusa.com?subject=Please unsubscribe me from the TIME email list">info@timesportusa.com</a> </p>

<p><strong>COOKIES, WEB BEACONS, AND SIMILAR TECHNOLOGIES</strong><br />
We use "cookies" or other tracking mechanisms to help support the integrity of registration and buying processes on our site, to retain changes that you made (e.g., if you personalize a page), and to learn about your possible interest so that we can try to personalize marketing. A "cookie" is a small data file that our site transfers to your computer for storage to allow our server to "remember" specific personal information. We also use cookies or similar information for typical business purposes such as to administer the site, to track and analyze visitor traffic so that we can adjust the site, and to advertise and promote our products and services. The cookies or other tracking mechanisms collect at least the following: your domain name and host for Internet access; the Internet address of the site from which you came; the date and time of your access; and your computer's IP address and information about its operating system and browser. These technologies help us to combat fraud or misuse and to remember things like: (1) the profile facts you tell us about yourself, (2) your specified areas of interest on our sites, (3) the items you've placed in your shopping basket, and (4) the pages you visit as you shop. You can disable some cookies, but the site won't necessarily function as designed (e.g., cookies must be enabled to register or make purchases).</p>

<p>We also allow collection by analytic service provider(s) of site click-stream and cookie data to help us track aggregate and individual use of our site and determine possible interests of users (e.g., if you read a site article about ski equipment, during a subsequent visit we might present you with an article about maintaining ski equipment).</p>

<p>Some advertisers might use their cookies on our site or in their messages to you. If you click on an advertisement, a cookie might be placed on your computer. To find out how these kinds of companies tend to collect and use information or to take advantage of any opt-out opportunities they provide, visit their sites to see their privacy policies. We do not control these companies, and their practices and policies may change over time.</p>

<p>If you do not wish to receive cookies, or want to be notified before they are placed, you may set your web browser to do so, if your browser so permits. Please understand that if cookies are turned off, you may not be able to view certain parts of this site that may enhance your visit. Some of our business partners whose content is linked to or from this site may also use cookies or web beacons. However, we have no access to or control over these cookies.</p>

<p><strong>OTHER APPLICABLE TERMS</strong><br />
This Policy does not modify or alter any applicable agreement you have or may have with TIME. Additionally, your use of certain TIME products or services (e.g., equipment rentals), or your participation in certain special events or activities, may be subject to one or more applicable agreements, and certain other terms may all apply to your use, purchase, or participation. If this Policy conflicts with any portion of those terms and agreements, those terms and agreements govern to the extent of the inconsistency.</p>

<p><strong>YOUR RIGHTS</strong><br />
In case you wish to know what personal data we hold about you or you wish to replenish, rectify, anonymize or delete any incomplete, incorrect or outdated personal data, or you wish us to cease processing your personal data for the purpose of sending promotional materials or direct marketing or for the performance of market research or on other compelling legal grounds, you may, as appropriate and in accordance with applicable law, exercise such rights by contacting us through the contact points referred to below. In some cases, especially if you wish us to delete or cease the processing of your personal data, this may also mean that we may not be able to continue to provide the services to you.</p>

<p>Please note that TIME may need to identify you and to ask for additional information in order to be able to fulfill your above request. Please also note that applicable law may contain restrictions and other provisions that relate to your above rights.</p>

<p><strong>HOW TO CONTACT US</strong><br />
We respect your privacy and are committed to adhering to the policies outlined in this Privacy Policy. If you have any questions, comments or concerns about this Privacy Policy or about our privacy practices, please contact us via email or telephone.<br /><br />

  <a href="mailto:info@timesportusa.com ?subject=Contact from TIME Sport / Privacy Policy">info@timesportusa.com </a><br />
877-727-7661</p>

<p>You may also direct your privacy-related comments or questions to the following address:<br /><br />
TIME SPORT INTERNATIONAL<br />
1413 Center Drive<br />
 PO Box 981060<br />
 Park City, UT 84098  </p>

<p><strong>THIRD PARTY RELATIONSHIPS AND YOUR PRIVACY </strong><br />
TIME has partnered with Campaign Monitor for email marketing. You will be subject to their terms of use and privacy policies. Accordingly, you should review them:<br />
<a href="https://www.campaignmonitor.com/policies/" target="_blank">Campaign Monitor Policies</a></p>
  
<p><strong>CHANGES TO THIS POLICY</strong><br />
This Policy replaces all previous disclosures we may have provided you about our personal information practices. We will update this Policy if our practices change or if laws or regulations require that we change it. If we decide to disclose personal information in a way that is materially different from that which was stated in this Policy at the time personal information was collected, we will notify you by posting notice of the change on our site and on this page for a reasonable period before we implement that change and, if feasible, will give you an opportunity to opt out of the proposed use of personal information.</p>