<!-- Shimano Dura Ace DI2 :
è Front derailleur : Dura Ace DI2
è Rear derailleur : Dura Ace DI2
è Levers : Dura Ace DI2
è Breaks : Dura Ace
è Crankset : Rotor in Power Flow (with integrated power sensor) NOQ 50A/34
è Cassette : Dura Ace 11-25
è Chain : Dura Ace
è Wheels : Corima 47 millimeter MCC “S” design (Special design Ulteam30 – Veloflex hoses)
è Saddle : Italia Flite Ti SLR Technology saddle
è Stem : Time Monolink Ulteam
è Handlebar : Time Ergodrive
Campagnolo Super Record EPS :
è Front derailleur : Super Record EPS
è Rear derailleur : Super Record EPS
è Levers : Super Record EPS
è Breaks : Super Record
è Crankset : Rotor in Power Flow (with integrated power sensor) NOQ 50A/34
è Cassette : Super Record 12-25
è Chain : Record
è Wheels : Corima 47 millimeter MCC “S” design (Special design Ulteam30 – Veloflex hoses)
è Saddle : Italia Flite Ti SLR Technology saddle
è Stem : Time Monolink Ulteam
è Handlebar : Time Ergodrive -->

<table>
  <tr>
    <th> </th>
    <th>Campagnolo Super Record EPS</th>
    <th>Shimano Dura-Ace Di2</th>
  </tr>
  <tr>
    <td>Front derailleur</td>
    <td>Super Record EPS</td>
    <td>Dura-Ace Di2</td>
  </tr>
  <tr>
    <td>Rear derailleur</td>
    <td>Super Record EPS</td>
    <td>Dura-Ace Di2</td>
  </tr>
  <tr>
    <td>Levers</td>
    <td>Super Record EPS</td>
    <td>Dura-Ace Di2</td>
  </tr>
  <tr>
    <td>Brakes</td>
    <td>Super Record EPS</td>
    <td>Dura-Ace Di2</td>
  </tr>
  <tr>
    <td>Crankset</td>
    <td>Rotor in Power Flow (with integrated power sensor) NOQ 50A/34</td>
    <td>Rotor in Power Flow (with integrated power sensor) NOQ 50A/34</td>
  </tr>
  <tr>
    <td>Cassette</td>
    <td>Super Record 12-25</td>
    <td>Dura-Ace 11-25</td>
  </tr>  
  <tr>
    <td>Chain</td>
    <td>Record</td>
    <td>Dura-Ace</td>
  </tr> 
  <tr>
    <td>Wheels</td>
    <td>CORIMA 47mm MCC "S“ design (Special design Ulteam30 – Veloflex tires)</td>
    <td>CORIMA 47mm MCC "S“ design (Special design Ulteam30 – Veloflex tires)</td>
  </tr>
  <tr>
    <td>Saddle</td>
    <td>Italia Flite Ti SLR Technology saddle</td>
    <td>Italia Flite Ti SLR Technology saddle</td>
  </tr>
  <tr>
    <td>Stem</td>
    <td>TIME Monolink ULTEAM</td>
    <td>TIME Monolink ULTEAM</td>
  </tr>
  <tr>
    <td>Handlebar</td>
    <td>TIME Ergodrive</td>
    <td>TIME Ergodrive</td>
  </tr>
</table>